.bottom{
    height: 200px;
    width: 100%;
    min-width: 1040px;
    margin: 0 auto;
    display: flex;
    align-items:center;
    background: rgb(50,61,103);
    color: white;
    justify-content: center;
    .bottom-box{
        width:1040px;
        height: 100%;
        display: flex;
        align-items:center;
        color: white;
        justify-content: center;
        .bottom-box1{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            height:70%;
            width: 30%;
            .bottom-p{
                width: 100%;
                height: 46px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
        }
        .bottom-box2{
            display: flex;
            justify-content: center;
            align-items: center;
    
            flex-direction: column;
            height:70%;
            width: 30%;
            .bottom-p{
                width: 100%;
                height: 46px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-indent: 10px;
            }
        }
    }
    
    
}