.leftNav{
    width:120px;
    height: 400px;
    top: 20%;
    left: 5%;
    position: fixed;
}
.leftNav-ul{
    width: 100%;
    height: 100%;
    list-style: none;
}
.leftNav-li{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.leftNav-li1{
    height: 23%;
}
.leftNav-li5{
    height: 32%;
}
.leftNav-changxian{
    height: 70px;
    width: 4px;
    display: block;
    background: url(../../../access/index/changxian.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 7px;
}
.leftNav-duanxian{
    height: 50px;
    width: 4px;
    margin-left: 7px;
    display: block;
    background: url(../../../access/index/duanxian.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.leftNav-yuanquan{
    position: absolute;
    height: 20px;
    left: 0;
    width: 100px;
    background: url(../../../access/index/kiuy.png);
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
.leftNav-yuanquan:hover{
    background: url(../../../access/index/hkgdd.png);
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
.leftNav-span{
    padding-left: 30px;
    display:block;
    color: #000000;
    cursor: pointer;
}
.leftNav-span:hover{
    color: #ff9800;
}
.current-yuanquan{
    position: absolute;
    height: 20px;
    left: 0;
    width: 100px;
    background: url(../../../access/index/hkgdd.png);
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
.current-span{
    padding-left: 30px;
    display:block;
    color: #ff9800;
    cursor: pointer;
}